<div class="card h-100 shadow-sm" (click)="openModal()">
  <img [src]="character.image" [alt]="character.name" class="card-img-top character-img">
  <div class="card-body">
    <h5 class="card-title">{{ character.name }}</h5>
    <span class="badge"
          [ngClass]="{
            'bg-success': character.status === 'Alive',
            'bg-danger': character.status === 'Dead',
            'bg-secondary': character.status === 'unknown'
          }">
      {{ character.status }}
    </span>
    <p class="card-text mt-2"><strong>Species:</strong> {{ character.species }}</p>
  </div>
</div>
