html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  /* Aqui você pode sobrescrever tokens se quiser */
  --md-sys-color-primary: #6200ee;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-secondary: #03dac6;
  --md-sys-color-on-secondary: #000000;
}

/* Exemplo de customização */
h1 {
  font-size: 2rem;
  color: var(--md-sys-color-primary);
}
