@use "variables" as *;

html, body {
  margin: 0;
  padding: 0;
  background-color: $color-bg;
  color: $color-text;
  font-family: 'Roboto', sans-serif;
}

:root {
  --md-sys-color-primary: #11CCAB;
  --md-sys-color-on-primary: #0F1E21;
  --md-sys-color-secondary: #4D3FA6;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-surface: #19262B;
  --md-sys-color-background: #0F1E21;
  --md-sys-color-error: #B00020;

  --md-sys-color-surface-container: #19262B;
  --md-sys-color-outline: #4D3FA6;
}

