@use "variables" as *;

html, body {
  margin: 0;
  padding: 0;
  background-color: $color-bg;
  color: $color-text;
  font-family: 'Roboto', sans-serif;
}

:root {
  --md-sys-color-primary: #6200ee;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-secondary: #03dac6;
  --md-sys-color-on-secondary: #000000;

  // ESSENCIAL:
  --md-sys-color-primary-hover: red;   // ou um tom mais escuro da primária
  --md-sys-color-primary-pressed: blue; // opcional, para clique

  --md-sys-state-hover-opacity: 0.08;
  --md-sys-state-focus-opacity: 0.12;

}
