<div class="container py-4">
  <div *ngIf="(characterStoreService.characters$ | async)?.length; else loading">
    <div class="row">
      <!-- filtros aqui... -->
      <div class="filters d-flex align-items-center gap-2 mb-4 flex-wrap">
        <div class="select-wrapper position-relative">
          <i class="bi bi-person filter-icon"></i>
          <input type="text" class="form-control filter-input ps-5" placeholder="Find by name..."
                 [ngModel]="filters.name"
                 (ngModelChange)="onNameChange($event)">
        </div>

        <div class="select-wrapper position-relative">
          <i class="bi bi-funnel filter-icon"></i>
          <select class="form-select filter-input ps-5"
                  [(ngModel)]="filters.species"
                  (change)="applyFilters()">
            <option value="">Species</option>
            <option *ngFor="let sp of speciesList" [value]="sp">{{ sp }}</option>
          </select>
        </div>

        <div class="select-wrapper position-relative">
          <i class="bi bi-gender-ambiguous filter-icon"></i>
          <select class="form-select filter-input ps-5"
                  [(ngModel)]="filters.gender"
                  (change)="applyFilters()">
            <option value="">Gender</option>
            <option *ngFor="let sp of genderList" [value]="sp">{{ sp }}</option>
          </select>
        </div>


        <div class="select-wrapper position-relative">
          <i class="bi bi-heart-pulse filter-icon"></i>
          <select class="form-select filter-input ps-5"
                  [(ngModel)]="filters.status"
                  (change)="applyFilters()">
            <option value="">Status</option>
            <option *ngFor="let sp of statusList" [value]="sp">{{ sp }}</option>
          </select>
        </div>

        <button class="btn btn-purple d-flex align-items-center gap-2" (click)="applyFilters()">
          <i class="bi bi-search"></i>
          Search
        </button>
      </div>


      <!-- Lista de personagens -->
      <div class="col-sm-6 col-md-4 col-lg-3 mb-4"
           *ngFor="let character of characterStoreService.characters$ | async">
        <app-character-card [character]="character"></app-character-card>
      </div>

      <!-- Botão Carregar Mais -->
      <div class="d-flex justify-content-center my-4">
        <button class="btn btn-purple w-auto" (click)="loadMore()" [disabled]="isLoading">
          <ng-container *ngIf="!isLoading; else loadingMore">Load More</ng-container>
        </button>
      </div>

      <ng-template #loadingMore>
        <span>
          <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
          Loading...
        </span>
      </ng-template>
    </div>
  </div>

  <ng-template #loading>
    <div class="d-flex justify-content-center py-5">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </ng-template>
</div>

<button
  class="back-to-top"
  (click)="scrollToTop()"
  *ngIf="showBackToTop"
  aria-label="Voltar ao topo">
  <i class="bi bi-chevron-up"></i>
</button>

<a [routerLink]="['/new']" class="btn btn-primary fab-create">
  <i class="bi bi-plus-lg fs-4"></i>
</a>
