<div class="container py-4">
  <div *ngIf="characters?.length; else loading">
    <div class="row">

      <div class="filters d-flex align-items-center gap-2 mb-4 flex-wrap">
        <div class="select-wrapper position-relative">
          <i class="bi bi-person filter-icon"></i>
          <input type="text" class="form-control filter-input ps-5" placeholder="Find by name..."
                 [ngModel]="filters.name"
                 (ngModelChange)="onNameChange($event)">
        </div>

        <div class="select-wrapper position-relative">
          <i class="bi bi-funnel filter-icon"></i>
          <select class="form-select filter-input ps-5" [(ngModel)]="filters.species">
            <option value="">Species</option>
            <option *ngFor="let sp of speciesList" [value]="sp">{{ sp }}</option>
          </select>
        </div>

        <div class="select-wrapper position-relative">
          <i class="bi bi-gender-ambiguous filter-icon"></i>
          <select class="form-select filter-input ps-5" [(ngModel)]="filters.gender">
            <option value="">Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="genderless">Genderless</option>
            <option value="unknown">Unknown</option>
          </select>
        </div>


        <div class="select-wrapper position-relative">
          <i class="bi bi-heart-pulse filter-icon"></i>
          <select class="form-select filter-input ps-5" [(ngModel)]="filters.status">
            <option value="">Status</option>
            <option value="alive">Alive</option>
            <option value="dead">Dead</option>
            <option value="unknown">Unknown</option>
          </select>
        </div>

        <button class="btn btn-purple d-flex align-items-center gap-2" (click)="applyFilters()">
          <i class="bi bi-search"></i>
          Search
        </button>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3 mb-4" *ngFor="let character of characters">
        <div class="card h-100 shadow-sm">
          <img [src]="character.image" [alt]="character.name" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">{{ character.name }}</h5>
            <span class="badge"
                  [ngClass]="{
                    'bg-success': character.status === 'Alive',
                    'bg-danger': character.status === 'Dead',
                    'bg-secondary': character.status === 'unknown'
                  }">
              {{ character.status }}
            </span>
            <p class="card-text mt-2"><strong>Species:</strong> {{ character.species }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #loading>
    <div class="d-flex justify-content-center py-5">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Carregando...</span>
      </div>
    </div>
  </ng-template>
</div>
