<div class="container py-4">
  <div *ngIf="(characterStoreService.characters$ | async)?.length; else loading">
    <div class="row">
      <!-- filtros aqui... -->

      <!-- Lista de personagens -->
      <div class="col-sm-6 col-md-4 col-lg-3 mb-4"
           *ngFor="let character of characterStoreService.characters$ | async">
        <app-character-card [character]="character"></app-character-card>
      </div>

      <!-- Botão Carregar Mais -->
      <div class="d-flex justify-content-center my-4">
        <button class="btn btn-purple w-auto" (click)="loadMore()" [disabled]="isLoading">
          <ng-container *ngIf="!isLoading; else loadingMore">Load More</ng-container>
        </button>
      </div>

      <ng-template #loadingMore>
        <span>
          <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
          Loading...
        </span>
      </ng-template>
    </div>
  </div>

  <ng-template #loading>
    <div class="d-flex justify-content-center py-5">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </ng-template>
</div>

<button
  class="back-to-top"
  (click)="scrollToTop()"
  *ngIf="showBackToTop"
  aria-label="Voltar ao topo">
  <i class="bi bi-chevron-up"></i>
</button>

<a [routerLink]="['/new']" class="btn btn-primary fab-create">
  <i class="bi bi-plus-lg fs-4"></i>
</a>
