@use 'variables' as *;
@use 'sass:color';

.custom-modal-backdrop {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
}

.custom-modal-content {
  background-color: $color-bg;
  color: $color-text;
  border-radius: 15px;
  padding: 2rem;
  max-width: 500px;
  width: 90vw; // <--- Use vw para garantir que nunca ultrapasse o viewport
  box-sizing: border-box; // <--- Garante que padding não vaze
  text-align: center;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.2);

  // Adicione uma mídia query para mobile
  @media (max-width: 600px) {
    padding: 1rem;
    max-width: 98vw; // ocupa praticamente toda a tela
    width: 98vw;
    border-radius: 10px;
  }
}

.custom-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}

.character-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;

  @media (max-width: 600px) {
    width: 90px;
    height: 90px;
    border-radius: 50%;
  }
}

.character-name {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.character-info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  text-align: left;
  margin-bottom: 1.5rem;

  strong {
    font-size: 0.85rem;
    color: #ccc;
  }

  p {
    margin: 0;
    margin-bottom: 0;
    font-size: 0.95rem;
  }
}

.modal-actions {
  display: flex;
  justify-content: space-around;
  gap: 1rem;

  .btn-action {
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;

    &.delete {
      background-color: #e74c3c;
      color: #fff;

      &:hover {
        background-color: #c0392b;
      }
    }

    &.edit {
      background-color: #3498db;
      color: #fff;

      &:hover {
        background-color: #2980b9;
      }
    }
  }
}

.btn-custom {
  background-color: $color-surface;
  color: $color-text;
  border-radius: 50px;
  padding: 0.5rem 1.5rem;
  font-weight: 600;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: #283C45;
    color: $color-primary;
  }

  &.active {
    background-color: #283C45;
    color: $color-primary;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(26, 188, 156, 0.5);
  }
}
