<div class="custom-modal-backdrop" *ngIf="character as char" (click)="close()">
  <div class="custom-modal-content" (click)="$event.stopPropagation()">
    <button class="custom-close" (click)="close()">×</button>

    <img [src]="char.image" alt="{{ char.name }}" class="character-img">

    <h2 class="character-name">{{ char.name }}</h2>

    <div class="row text-start">
      <div class="col-12 col-md-6">
        <hr>
        <strong>Gender</strong>
        <p>{{ char.gender }}</p>
      </div>
      <div class="col-12 col-md-6">
        <hr>
        <strong>Type</strong>
        <p>{{ char.type || 'Unknown' }}</p>
      </div>
      <div class="col-12 col-md-6">
        <hr>
        <strong>Status</strong>
        <p>{{ char.status }}</p>
      </div>
      <div class="col-12 col-md-6">
        <hr>
        <strong>Location</strong>
        <p>{{ char.location?.name }}</p>
      </div>
      <div class="col-12 col-md-6">
        <hr>
        <strong>Origin</strong>
        <p>{{ char.origin?.name }}</p>
      </div>
    </div>

    <div class="modal-actions mt-3 d-flex justify-content-end gap-2 flex-column flex-md-row">
      <button class="btn btn-custom d-inline-flex align-items-center gap-2" (click)="delete()">
        <i class="bi bi-trash"></i>
        Excluir
      </button>

      <button class="btn btn-custom d-inline-flex align-items-center gap-2" (click)="edit()">
        <i class="bi bi-pencil"></i>
        Editar
      </button>
    </div>


  </div>
</div>
